@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* 200, 300, 400, 700 */
html {
    font-size: 16px;
    font-family: "Poppins", Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:linear-gradient(-135deg, rgba(106, 189, 226, 0.75), rgba(105, 109, 233, 0.75)), url("https://cdn.discordapp.com/attachments/719267602886688829/720133822058070076/Untitled-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.test{
    color: red;
}

.test:hover {
    color:red;
}

hr.rounded {
    border-top: 1px solid #bbb;
    width: 4rem;
  }

.landing {
    background:linear-gradient(180deg, rgba(106, 189, 226, 0.45), rgba(105, 109, 233, 0.40)), url("https://images.unsplash.com/photo-1526976668912-1a811878dd37?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.landing-title {
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 10rem;
    font-weight: 600;
    text-shadow: 5px 5px 5px rgba(55, 58, 143, 0.6);
    text-align: center;
    color: white;
    margin: 25vh 0 0 0;
}

.landing-title:hover {
    cursor: default;
}

.landing-subtitle {
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 300;
    text-shadow: 3px 3px 3px rgba(55, 58, 143, 0.6);
    text-align: center;
    color: white;
}

.landing-subtitle:hover {
    cursor: default;
}

.landing-text {
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 0.75rem;
    font-weight: 200;
    text-shadow: 3px 3px 3px rgba(55, 58, 143, 0.6);
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin: 1rem;
}

.landing-text:hover {
    color: rgba(106, 189, 226, 1);
    cursor: pointer;
}

/*style={{fontSize:"1.25rem", backgroundColor:"white", color: "#696DE9", textTransform: "uppercase", padding: "1rem 2rem", margin: "10vh 0 0 0", borderRadius: "1rem"}*/
.form {
    background-color: white;
    margin: 10rem auto;
    padding: 2rem 0;
    border-radius: 25px;
    box-shadow: 0 0 .5rem black;
    color: #686ee8;
}

.form input {
    width: 250px;
    height:25px;
    border: none;
    border-bottom: 1px solid #686ee8;
    border-radius: 0px;
}

.form button {
    border-radius: 10px;
    background-color: #686ee8;
    border: none;
}

.form button:hover{
    background-color: #979cf8;
}

.btn-grad {
    background-image: linear-gradient(90deg, rgba(104,110,232,1) 0%, rgba(106,201,224,1) 100%);
}

.btn-grad:hover { 
    background-color: rgba(6, 7, 75, 0.596);
    background-blend-mode: screen;
}